table {
  border-collapse: collapse;
  margin: 20px 0;
}

table td {
  padding: 20px;
  border: solid 1px black;
}

.container {
  margin: 30px;
}
.black {
  background-color: black;
}

.white {
  background-color: white;
}
