.timer {
  margin: 30px;
  height: 300px;
}
.black {
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  margin: 20px 0;
}

.grid-item {
  border: 1px solid gray;
}
